body {
    margin: 0;

    font-family: 'Mina', sans-serif;
}

*,
:after,
:before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-weight: 500;
}

p {
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
